[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pytest = "*"
black = "*"
mock = "*"
boto3 = "*"
bandit = "*"

[pipenv]
allow_prereleases = true
