[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
beautifultable = "*"

[dev-packages]
pytest = "*"
black = "*"
mock = "*"
twine = "*"
bandit = "*"
moto = "*"
pytest-cov = "*"
mypy = "*"

[pipenv]
allow_prereleases = true
